/build/
/bin/
/obj/
/CMakeFiles/
/CMakeCache.txt
/Debian/
/Makefile
/makefile
.vscode/
/.idea/
/*.suo
/*.user
/*.userosscache
/*.sln
/*.swp
/*.swo
*.iml
*.kdev4
*.kdev*
*.netbeans/
*.kate-swp
*.project
*.cproject
*.pyc
*.pyo
__pycache__/
.DS_Store
*.dmg
*.log
*.tmp
Thumbs.db
Desktop.ini
*.trace
*.patch
*.diff
